 <nav class="navbar navbar-default">
              <div class="container-fluid headd">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <p class="cp">Chart</p>
                  <a class="navbar-brand" href="#"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'voltageChart' %}">voltage chart</a></li>
                    <li><a href="{% url 'currentChart' %}">current chart</a></li>
                    <li><a href="{% url 'faultChart' %}">fault chart</a></li>
                    <li><a href="{% url 'powerChart' %}">power chart</a></li>
                  </ul> 
                 
                   <ul class="nav navbar-nav navbar-right">                
                   <!-- <li><a class="reference internal" href="main.html#whatsnew37-about"><span class="std std-ref">A</span></a></li> -->
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">G<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="graph1.php">irradition</a></li>
                         <li role="separator" class="divider"></li>
                       <!-- <li><a href="graph2.php"> Volt Chart </a></li> -->
                        <li><a href="graph3.php"> Temperature</a></li>
                       
                       <!-- <li><a href="fault.html">Number of Fault </a></li>
                        <li><a href="#">cleaning service </a></li> -->
                      </ul>
                    </li>
                  </ul>
                  
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>   